/* CSS Reset */

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  overscroll-behavior: none;
  touch-action: none;
  top: 0;
  left: 0;
}

body * {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  border: none;
  z-index: 1;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-family: PingFangTC, "Microsoft JhengHei", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

/* Background */

body {
  background: -webkit-radial-gradient(50% 150%,
      #00a5cc 0%,
      #206b99 10%,
      #216888 35%,
      #031b31 70%,
      #000 100%);
}

/* content */

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.content.loading * {
  opacity: 0;
}

.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: .3s;
}

/* setting */

#setting {
  left: 100%;
  background: rgba(0, 0, 0, .9);
  transition: .3s;
  overflow-y: scroll;
  padding: 30px 0;
  z-index: 6;
}

#setting.open {
  left: 0;
}

#setting * {
  color: #ddd;
}

#setting>div {
  width: 100%;
  margin: 0 0 30px;
}

#setting h3 {
  text-align: center;
  font-size: 1.3rem;
}

#setting .msg-div {
  width: 80%;
  margin: 30px auto 0;
}

#setting .msg-div table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#setting .msg-div th,
#setting .msg-div td {
  border: 3px solid #666;
  font-size: 1.2rem;
}

#setting .msg-div th {
  border: 3px solid #666;
  width: 50%;
}

#setting .msg-div input {
  width: 100%;
  border: 3px solid #000;
}

#setting .msg-div input:focus {
  width: 100%;
  border: 3px solid #5cf;
}

#setting input {
  font-size: 1.2rem;
  background: none;
  border-bottom: 3px solid #999;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  transition: .3s;
  width: 80%;
  border-radius: 0;
}

#setting input:focus {
  border-bottom: 3px solid #5cf;
}

#setting th {
  background: rgba(255, 255, 255, .2);
}

#setting .monster th,
#setting .topic th {
  background: rgba(100, 200, 255, .3);
}

#setting #saveBtn {
  width: max-content;
  font-size: 1.2rem;
  margin: 30px auto 10px;
  padding: 10px 30px;
  background: #e50;
  border-radius: 20px;
  text-shadow: #900 0 0 5px;
}


/* menu */

#menu {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 30px;
  height: 3px;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: .3s;
  z-index: 10;
  transform-origin: 50% 50%;
  opacity: .7;
}

#menu::before,
#menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  transition: .3s;
}

#menu::before {
  left: 0;
  top: -10px;
  border-top: 3px solid #fff;
  transform-origin: 0 0;
}

#menu::after {
  left: 0;
  top: -10px;
  border-bottom: 3px solid #fff;
  transform-origin: 0 100%;
}

#menu.close::before {
  transform: rotate(45deg);
}

#menu.close::after {
  transform: rotate(-45deg);
}

#menu.close {
  transform: translateY(1px) translateX(-5px) rotate(180deg);
  background: rgba(255, 255, 255, 0);
}

#s1,
#s2 {
  z-index: 5;
  width: 30px;
  position: absolute;
  top: 18px;
  left: 18px;
  opacity: .8
}

#s2.hide {
  pointer-events: none;
  display: none;
}

#s1.hide {
  pointer-events: none;
  display: none;
}



/* main01 */
#main01 {
  padding-top: 10%;
  overflow: hidden;
  transition: .3s;
}

#main01.hide {
  opacity: 0;
  left: -20px;
  pointer-events: none;
}

#main01 svg {
  width: 100%;
}

#svgKebbi {
  position: absolute;
  width: 40%;
  max-width: 40vh;
  height: max-content;
  z-index: 3;
}

#svgKebbi #face-01 {
  display: block;
}

#svgKebbi #face-02 {
  display: none;
}

#svgKebbi.target #face-01 {
  display: none;
}

#svgKebbi.target #face-02 {
  display: block;
}

#svgKebbi.reset {
  transition: .3s;
}

.circle {
  position: absolute;
  border: 10px solid #fff;
  opacity: .1;
  border-radius: 50%;
}

#main01 footer {
  position: absolute;
  bottom: 2%;
  left: 0;
  width: 100%;
  text-align: center;
}

#main01 footer .monster-btn {
  display: inline-block;
  width: 22%;
  max-width: 20vh;
  margin: 0.5%;
  z-index: 2;
  vertical-align: middle;
}

#main01 footer .monster-btn svg {
  transition: .3s;
  background: none;
}

#main01 footer .monster-btn.click svg {
  width: 90%;
}

/* main02 */

#main02 {
  padding-top: 12vh;
  text-align: center;
  overflow-y: scroll;
  transition: .3s;
}

#main02.hide {
  opacity: 0;
  left: -20px;
  pointer-events: none;
}

#main02 .input-group {
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
  align-items: stretch;
  width: 77%;
  margin-bottom: 2rem;
}

#main02 .input-group-input {
  display: block;
  font-size: 1.5rem;
  line-height: 1;
  width: 1%;
  flex: 1 1 auto;
  background: none;
  color: #ddd;
  margin: 0 auto;
  padding: 10px 1rem;
  box-shadow: inset #ccc 0 0 0 0, #ccc 0 0 0 3px;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#main02 .input-group-button {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  box-shadow: inset #ccc 0 0 0 0, #ccc 0 0 0 3px;
  border-radius: 10px;
  background: rgba(255, 255, 255, .1);
  color: #fff;
  vertical-align: top;
  transition: .3s;
  padding: 10px 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0 0 0 3px;
}

#main02 .input-group-button.click {
  background: rgba(255, 255, 255, .4);
  box-shadow: inset #ccc 0 0 0 3px, #ccc 0 0 0 0;
}

#main02 .btn {
  display: inline-block;
  width: 38%;
  height: 14%;
  box-shadow: inset #ccc 0 0 0 0, #ccc 0 0 0 3px;
  margin: 7px 5px;
  border-radius: 10px;
  background: rgba(255, 255, 255, .1);
  color: #fff;
  vertical-align: top;
  -webkit-user-select: none;
  transition: .3s;
}

#main02 .btn.click {
  background: rgba(255, 255, 255, .4);
  box-shadow: inset #ccc 0 0 0 3px, #ccc 0 0 0 0;
}

#main02 .btn::before {
  content: "";
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

#main02 .btn span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  transition: .3s;
}

#main02 .btn.click span {
  font-size: 1.4rem;
}

/* popup */
#popup {
  top: 20%;
  left: 15%;
  width: 70%;
  height: max-content;
  border: 3px solid #fff;
  z-index: 20;
  border-radius: 20px;
  padding: 30px 10px;
  text-align: center;
  background: rgba(50, 100, 150, .9);
  color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: .3s;
}

#popup.show {
  top: 17%;
  opacity: 1;
  pointer-events: auto;
}

#popup h4 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

#saveUrl {
  font-size: 1.1rem;
  width: 100%;
  word-wrap: break-word;
  line-height: 1.5;
}

#saveUrl::selection {
  color: #fff;
  background: none;
}

#copy {
  font-size: 1.1rem;
  padding: 10px 30px;
  width: max-content;
  margin: 20px auto 0;
  background: #e50;
  border-radius: 20px;
}

#copy.copied {
  pointer-events: none;
  opacity: .7;
}

#popupClose {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #123;
  top: -18px;
  right: -18px;
}

#popupClose::before,
#popupClose::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 10%;
  transform-origin: 50% 50%;
  background: #fff;
  top: 45%;
  left: 10%;
}

#popupClose::before {
  transform: rotate(45deg);
}

#popupClose::after {
  transform: rotate(-45deg);
}

/* message */

#message {
  width: 60%;
  top: -10px;
  left: 20%;
  height: max-content;
  background: rgba(255, 255, 255, .2);
  border: 1px dashed #fff;
  border-radius: 20px;
  padding: 0 10px;
  opacity: 0;
  transition: .3s;
  pointer-events: none;
}

#message.show {
  opacity: 1;
  top: 15px;
}

#message h4 {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.8;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

input {
  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
  -webkit-appearance: none;
  /* FireFox */
  -moz-appearance: none;
  appearance: none;
}

body #svgKebbi .img-aicar,
body #svgKebbi .img-kebbi {
  display: none;
}

body.aicar #svgKebbi .img-aicar {
  display: block;
}

body.kebbi #svgKebbi .img-kebbi {
  display: block;
}
