.MenuPageButton {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 40%;
    height: 14%;
    box-shadow: inset #ccc 0 0 0 0, #ccc 0 0 0 3px;
    margin: 7px 5px;
    border-radius: 10px;
    background: rgba(255, 255, 255, .1);
    color: #fff;
    vertical-align: top;
    -webkit-user-select: none;
    transition: .3s;
}
.MenuPageButton-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
    transition: .3s;
}

.MenuPageButton-click {
    background: rgba(255, 255, 255, .4);
    box-shadow:inset #ccc 0 0 0 3px, #ccc 0 0 0 0;
}