.SettingListItem {
    display: flex;
    margin:auto;
    font-size: 1.2rem;
    width: 80vw;
    color: #ddd;
    height: 53px;
    text-align: center;
}
.SettingListItem-titleInput {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    text-align: center;
    width: 50%;
    background: rgba(255, 255, 255, .2);
    border: 3px solid #000;
    color: #ddd;
    font-size: 1.2rem;
    border-right: 3px solid #666;
}
.SettingListItem-title {
    border-right: 3px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(100, 200, 255, .3);
    width: 50%;
}

.SettingListItem-input {
    border: 3px solid #000;
    
    text-align: center;
    padding: 10px;
    width: 50%;
    transition: .3s;
    font-size: 1.2rem;
    outline: none;
    background: none;
    color: #ddd;
}