.MenuPage {
    width: 80vw;
    height: 80%;
    margin: 50px auto;
    animation-name: enter;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

@keyframes enter {
    from {
        opacity: 0;
        transform: translateX(-10%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}