.App-KebbiSection {
    position: relative;
    top:0;
    height: auto;
    margin-top:5%;
}
.App-ImageKebbiContainer {
    position: absolute;
    left:50% ;
    top:0px ;
    transform: translateX(-50%);
    z-index: 3;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    margin-top: 8%;
}
.App-ImageKebbiSelf {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}
.App-CircleSection {
    width: 37%;
    padding-bottom: 37%;
    top:0;
    left:50%;
    transform: translateX(-50%);
    height: 0;
    position: absolute;
    border: 10px solid #fff;
    opacity: .1;
    border-radius: 50%;
}