.App {
    position: relative;
    height: 100vh;
}

.App-Header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 10;
}
.App-HamburgerSetting {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: 3;
    background:rgba(0, 0, 0, 0.766)
}