.App {

}
.App-KebbiSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
.App-ImageKebbiContainer {
    position: relative;
    z-index: 3;
    width: 25%;
    height: 0;
    padding-bottom: 25%;
}
.App-ImageKebbiSelf {
    position: absolute;
    width: 100%;
    height: 100%;
}
.App-CircleSection {
    width: 30%;
    padding-bottom: 30%;
    height: 0;
    position: absolute;
    border: 10px solid #fff;
    opacity: .1;
    border-radius: 50%;
}
