.MonsterButton {
    display: inline-block;
    width: 22%;
    max-width: 20vh;
    margin: 0.5%;
    z-index: 2;
    vertical-align: middle;
    transition: .3s;
}

.MonsterButton-click {
    transform: scale(0.8);
}